# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
application-context.iml
src/test/
target/
